*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.inputs input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.inputs button{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.inputs h3{
    margin: 10px 0;
}

.inputs span{
    color: red;
}